/* CSS Code, der für alle Web Pages gleich ist und auf allen Web Pages eingebunden werden muss. */

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  text-align: center;
}

nav {
  background-color: #333;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.nav-links a:hover {
  color: #bababa; /* Farbe beim Hover ändern */
}

.nav-links a.active {
  color: #bababa;
  text-decoration: underline;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
}

header img {
  width: 100%;
  height: auto;
  display: block;
}

.header,
.footer {
  height: 70px;
  color: #ffffff;
  background-color: #2487c6;
}

.content {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 12px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  flex-shrink: 0;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin: 0 15px;
}

.footer-links a {
  text-decoration: underline;
  color: white;
  font-size: 16px;
}

.footer-links li a:hover {
  color: #bababa; 
}

.Hinweis {
  color: #a3a3a3;
}

/* Media Queries für mobile Geräte */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a {
    font-size: 18px;
  }

  .logo {
    height: 40px;
  }

  .content {
    padding: 20px;
    width: 90%;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-links li {
    margin: 10px 0;
  }

  footer {
    padding: 20px 10px;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 10px;
  }

  .nav-links {
    align-items: center;
  }

  .nav-links li {
    margin: 5px 0;
  }

  .logo {
    height: 30px;
  }

  .footer-links {
    text-align: center;
  }

  .footer-links li {
    margin: 5px 0;
  }

  .content {
    padding: 10px;
  }

  footer {
    padding: 10px 5px;
  }
}
