.content {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.image-gallery {
  display: flex;
  overflow: hidden;
  width: 65%;
}

.image-gallery img {
  width: 100%;
  transition: transform 0.5s ease;
}

.slider-arrow {
  background-color: #333;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.slider-arrow:hover {
  background-color: #555;
}

.left-arrow {
  position: absolute;
  left: 0;
}

.right-arrow {
  position: absolute;
  right: 0;
}

.image-name {
  margin-top: 10px;
}

.product-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.product-item {
  flex: 0 0 calc(30% - 20px); /* Anpassen der Breite der Produkt-Container */
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.product-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.product-item p {
  margin-top: 10px;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin: 0 15px;
}

.footer-links a {
  text-decoration: underline;
  color: white;
  font-size: 16px;
}

.footer-links li a:hover {
  color: #bababa; 
}

.Hinweis {
  color: #a3a3a3;
}
